.navbar {
  display: flex;
  padding: 0;
  color: white;
  height: 100px;
  background-color: transparent;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
}

p {
  font-size: xx-large;
}
