.list-group-item{
background-color: red;
color: white;
font-size: large;
font-weight: 100;
}
.card {
  width: 100%; 
  max-width: 300px; 
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

